/* Reset */
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Check Section */
.city_back-button {
    width: 148px;
    height: 36px;
    background-color: #FFFDB9;
    margin-top: 9px;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    color: #828282;
    margin-left: 267px;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    line-height: 43px;
}

.wrap .checklist {
    width: 415px;
    height: 803px;
    background-color: #FFFDB9;
    padding: 50px 50px 0px 42px; 
    border-radius: 0px 0px 50px 0px;
}

.wrap .checklist-title {
    display: flex;
    margin-bottom: 52px;
    align-items: center;
}

.wrap .checklist-title-name {
    font-size: 30px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700; /* Bold font weight */
    color: #828282;
    margin-right: 8px;
}

.wrap .checklist-title-plusbtn {
    width: 19px;
    height: 19px;
    background-color: #E6E4AE;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    line-height: 15px;
    color: #828282;
    margin-top: 3px;
}

.wrap .checklist-title-plusbtn:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.wrap .checklist-routine {
    margin-bottom: 42px;
}

.wrap .checklist-routine-top {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.wrap .checklist-routine-top-circle {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #828282;
    margin: 2px 5px 0px 0px;
}

.wrap .checklist-routine-top-name {
    font-size: 13px;
    font-weight: 500;
    margin-right: 3px;
}

.wrap .checklist-routine-top-num {
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 600;
    font-size: 8px;
    text-align: center;
    line-height: 11px;
    margin-top: 4px;
}

.wrap .checklist-routine hr {
    background-color: #828282;
    border:0;
    height:2px;
    margin-bottom: 19px;
}

.wrap .checklist-routine-bottom {
    /* 2개까지 보이게*/
    height: 174px;
    overflow: auto;
}

.wrap .checklist-routine-bottom::-webkit-scrollbar {
    width: 5px;
}
.wrap .checklist-routine-bottom::-webkit-scrollbar-thumb {
    background-color: #828282;
    border-radius: 10px;
}
.wrap .checklist-routine-bottom::-webkit-scrollbar-track {
    background-color: #D9D9D9;
    border-radius: 10px;
}

.wrap .checklist-routine-bottom-box {
    background-color: #ffffff;
    height: 77px;
    border-radius: 10px;
    padding: 10px 12px 0px 12px;
    margin-bottom: 19px;
}

.wrap .checklist-routine-bottom-box {
    align-items: center;
    margin-bottom: 10px;
}

.wrap .checklist-routine-bottom-box-toggleSwitch {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.wrap .checklist-routine-bottom-box-toggleSwitch input {
    display: none;
}

.wrap .checklist-routine-bottom-box-toggleSwitch label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.wrap .checklist-routine-bottom-box-toggleSwitch span {
    width: 35px;
    height: 15px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #D9D9D9;
    cursor: pointer;
}

.wrap .checklist-routine-bottom-box-toggleSwitch span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 4px;
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrap .checklist-routine-bottom-box-toggleSwitch input:checked + label span:before {
    left: calc(100% - 15px);
}

.wrap .checklist-routine-bottom-box-toggleSwitch input:checked + label span {
    background-color: #fdee6bd5;
}

.wrap .checklist-routine-bottom-box-title {
    margin-top: 8px;
    font-size: 13.5px;
    font-weight: 600;
    color: #0D062D;
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...로 표시 */
}

.wrap .checklist-routine-bottom-box-content {
    margin-top: 4px;
    font-size: 9px;
    font-weight: 400;
    color: #787486;
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...로 표시 */
}


.wrap .checklist-todo {
    margin-bottom: 62px;
}

.wrap .checklist-todo-top {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.wrap .checklist-todo-top-circle {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #828282;
    margin: 2px 5px 0px 0px;
}

.wrap .checklist-todo-top-name {
    font-size: 13px;
    font-weight: 500;
    margin-right: 3px;
}

.wrap .checklist-todo-top-num {
    width: 12px;
    height: 12px;
    background-color: #D9D9D9;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 600;
    font-size: 8px;
    text-align: center;
    line-height: 11px;
    margin-top: 4px;
}

.wrap .checklist-todo hr {
    background-color: #828282;
    border:0;
    height:2px;
    margin-bottom: 19px;
}

.wrap .checklist-todo-bottom {
    /* 3개까지 보이게*/
    height: 261px;
    overflow: auto;
}

.wrap .checklist-todo-bottom::-webkit-scrollbar {
    width: 5px;
}
.wrap .checklist-todo-bottom::-webkit-scrollbar-thumb {
    background-color: #828282;
    border-radius: 10px;
}
.wrap .checklist-todo-bottom::-webkit-scrollbar-track {
    background-color: #D9D9D9;
    border-radius: 10px;
}

.wrap .checklist-todo-bottom-box {
    background-color: #ffffff;
    height: 77px;
    border-radius: 10px;
    padding: 10px 12px 0px 12px;
    margin-bottom: 19px;
}

.wrap .checklist-todo-bottom-box {
    align-items: center;
    margin-bottom: 10px;
}

.wrap .checklist-todo-bottom-box-toggleSwitch {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.wrap .checklist-todo-bottom-box-toggleSwitch input {
    display: none;
}

.wrap .checklist-todo-bottom-box-toggleSwitch label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.wrap .checklist-todo-bottom-box-toggleSwitch span {
    width: 35px;
    height: 15px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #D9D9D9;
    cursor: pointer;
}

.wrap .checklist-todo-bottom-box-toggleSwitch span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 4px;
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrap .checklist-todo-bottom-box-toggleSwitch input:checked + label span:before {
    left: calc(100% - 15px);
}

.wrap .checklist-todo-bottom-box-toggleSwitch input:checked + label span {
    background-color: #fdee6bd5;
}

.wrap .checklist-todo-bottom-box-title {
    margin-top: 8px;
    font-size: 13.5px;
    font-weight: 600;
    color: #0D062D;
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...로 표시 */
}

.wrap .checklist-todo-bottom-box-content {
    margin-top: 4px;
    font-size: 9px;
    font-weight: 400;
    color: #787486;
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...로 표시 */
}

/* routine popup */
.ck-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(81, 81, 81, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start; /* 위쪽에 맞춤 */
    overflow: auto; /* 스크롤이 가능하도록 설정 */
    z-index: 1000; /* 다른 요소들 위에 표시 */
    padding: 20px 0px;
}

.ck-popup-background {
    background: #FFFDB9;
    border-radius: 42px;
    width: 450px;
    height: 624.1px;
    /* padding: 70px 0px 0px 0px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    position: relative; /* 위치 설정을 위한 상대적 위치 */
    margin: auto;
    overflow-y: auto; /* 내용이 넘칠 경우 세로 스크롤 */
}

.ck-popup-content {
    width: 365px;
    margin: auto;
}

.ck-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700; /* Bold font weight */
    width: 365px;
    color: #828282;
    margin: 57px 0px 21px 10px;
}

.ck-popup-header h2 {
    margin: 0;
}

.ck-popup-close {
    background: transparent;
    border: none;
    font-size: 24px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700; /* Bold font weight */
    color: #828282;
    cursor: pointer;
    margin-right: 14px;
}

.ck-popup-close:hover {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.routine {
    background: #ffffff;
    border-radius: 8px;
    width: 365px;
    height: 463px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.routine {
    padding: 45px 34px 0px 34px;
    position: relative;
}

.routine-top {
    display: flex;
    justify-content: space-between;
}

.routine-top-title {
    display: flex;
}

.routine-top-title-circle {
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #828282;
    margin: 11px 6px 0px 0px;
}

.routine-top-title-name {
    font-size: 18px;
    font-weight: 500;
    margin-right: 3px;
    color: #7D7D7D;
}

.routine-arrow {
    height: 15px;
    margin-top: 6px;
}

.routine hr {
    width: 100%;
    background-color: #828282;
    border: 0;
    height: 2px;
    margin-top: 20px;
}

.routine-middle {
    width: 100%;
    margin-top: 8px;
    max-height: 290px; /* 원하는 최대 높이로 조정 */
    overflow: auto; /* 내용이 넘칠 경우 수직 스크롤 추가 */
}

.routine-middle::-webkit-scrollbar {
    width: 5px;
}
.routine-middle::-webkit-scrollbar-thumb {
    background-color: #828282;
    border-radius: 10px;
}
.routine-middle::-webkit-scrollbar-track {
    background-color: #D9D9D9;
    border-radius: 10px;
}

.routine-middle-box {
    width: 100%;
    height: 77px;
    border-radius: 10px;
    padding: 0px 14px 0px 14px;
    border: 1px solid #9EA3AB;
    margin-bottom: 11px;
}

.routine-middle-box-1 {
    height: 16px;
}

.routine-middle-box-toggleSwitch {
    width: 35px;
    height: 15px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #D9D9D9;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.2s ease-in;
}

/* 토글 버튼 스타일 */
.routine-middle-box-toggleButton {
    width: 11px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #ffffff;
    transition: all 0.2s ease-in;
}

/* 체크된 상태에서 토글 스위치 배경 색상 변경 */
input[type="checkbox"]:checked + .routine-middle-box-toggleSwitch {
    background: #fdee6bd5;
}

/* 체크된 상태에서 토글 버튼 위치 변경 */
input[type="checkbox"]:checked + .routine-middle-box-toggleSwitch .routine-middle-box-toggleButton {
    left: calc(100% - 15px);
    background: #ffffff;
}

/* 토글 스위치와 버튼의 전환 애니메이션 */
.routinee-middle-box-toggleSwitch, 
.routine-middle-box-toggleButton {
    transition: all 0.2s ease-in;
}

.routine-middle-box-2 {
    height: 16px;
}

.routine-middle-box-title {
    font-size: 13.5px;
    font-weight: 600;
    color: #0D062D;
    width:100%;
    border-width: 0;
}

.routine-middle-box-title::placeholder {
    font-size: 13.5px;
    font-weight: 600;
    color: #0D062D;
    width:100%;
    border-width: 0;
}

.routine-middle-box-title:focus {
    outline:none;
}

.routine-middle-box-3 {
    height: 18px;
}

.routine-middle-box-content {
    font-size: 9px;
    font-weight: 400;
    color: #787486;
    width:100%;
    border-width: 0;
}

.routine-middle-box-content::placeholder {
    font-size: 9px;
    font-weight: 400;
    color: #787486;
    width:100%;
    border-width: 0;
}

.routine-middle-box-content:focus {
    outline:none;
}

.routine-middle-box-delete {
    font-size: 10px;
    font-weight: 400;
    color: #0D062D;
    float: right;
}

.routine-middle-box-delete:hover {
    color: #c41313;
}

.routine-middle-plusbtn {
    height: 20px;
    font-size: 10px;
    /* font-weight: 600; */
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    background-color: #D9D9D9;
    border-radius: 5px;
}

.routine-middle-plusbtn:hover {
    background-color: #7D7D7D;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.routine-savebtn {
    margin-left: 250px;
    bottom: 28px;
	position: absolute;
    font-size: 7px;
    text-align: center;
    line-height: 24px;
    width: 43px;
	height: 24px;
    color: #ffffff;
	background-color: #FDEF6B;
    border-radius: 20px;
}

.routine-savebtn:hover {
    background-color: #FFFDB9;
    color: #9e9e9e;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* todo popup */

.todo {
    background: #ffffff;
    border-radius: 8px;
    width: 365px;
    height: 463px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.todo {
    padding: 45px 34px 0px 34px;
    position: relative;
}

.todo-top {
    display: flex;
    justify-content: space-between;
}

.todo-top-title {
    display: flex;
}

.todo-top-title-circle {
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #828282;
    margin: 11px 6px 0px 0px;
}

.todo-top-title-name {
    font-size: 18px;
    font-weight: 500;
    margin-right: 3px;
    color: #7D7D7D;
}

.todo-top-arrow {
    height: 15px;
    margin-top: 6px;
}

.todo hr {
    width: 100%;
    background-color: #828282;
    border: 0;
    height: 2px;
    margin-top: 20px;
}

.todo-middle {
    width: 100%;
    margin-top: 8px;
    max-height: 290px; /* 원하는 최대 높이로 조정 */
    overflow: auto; /* 내용이 넘칠 경우 수직 스크롤 추가 */
}

.todo-middle::-webkit-scrollbar {
    width: 5px;
}
.todo-middle::-webkit-scrollbar-thumb {
    background-color: #828282;
    border-radius: 10px;
}
.todo-middle::-webkit-scrollbar-track {
    background-color: #D9D9D9;
    border-radius: 10px;
}

.todo-middle-box {
    width: 100%;
    height: 77px;
    border-radius: 10px;
    padding: 0px 14px 0px 14px;
    border: 1px solid #9EA3AB;
    margin-bottom: 11px;
}

.todo-middle-box-1 {
    height: 16px;
}

.todo-middle-box-toggleSwitch {
    width: 35px;
    height: 15px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #D9D9D9;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.2s ease-in;
}

/* 토글 버튼 스타일 */
.todo-middle-box-toggleButton {
    width: 11px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #ffffff;
    transition: all 0.2s ease-in;
}

/* 체크된 상태에서 토글 스위치 배경 색상 변경 */
input[type="checkbox"]:checked + .todo-middle-box-toggleSwitch {
    background: #fdee6bd5;
}

/* 체크된 상태에서 토글 버튼 위치 변경 */
input[type="checkbox"]:checked + .todo-middle-box-toggleSwitch .todo-middle-box-toggleButton {
    left: calc(100% - 15px);
    background: #ffffff;
}

/* 토글 스위치와 버튼의 전환 애니메이션 */
.todo-middle-box-toggleSwitch, 
.todo-middle-box-toggleButton {
    transition: all 0.2s ease-in;
}

.todo-middle-box-2 {
    height: 16px;
}

.todo-middle-box-title {
    font-size: 13.5px;
    font-weight: 600;
    color: #0D062D;
    width:100%;
    border-width: 0;
}

.todo-middle-box-title::placeholder {
    font-size: 13.5px;
    font-weight: 600;
    color: #0D062D;
    width:100%;
    border-width: 0;
}

.todo-middle-box-title:focus {
    outline:none;
}

.todo-middle-box-3 {
    height: 18px;
}

.todo-middle-box-content {
    font-size: 9px;
    font-weight: 400;
    color: #787486;
    width:100%;
    border-width: 0;
}

.todo-middle-box-content::placeholder {
    font-size: 9px;
    font-weight: 400;
    color: #787486;
    width:100%;
    border-width: 0;
}

.todo-middle-box-content:focus {
    outline:none;
}

.todo-middle-box-delete {
    font-size: 10px;
    font-weight: 400;
    color: #0D062D;
    float: right;
}

.todo-middle-box-delete:hover {
    color: #c41313;
}

.todo-middle-plusbtn {
    height: 20px;
    font-size: 10px;
    /* font-weight: 600; */
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    background-color: #D9D9D9;
    border-radius: 5px;
}

.todo-middle-plusbtn:hover {
    background-color: #7D7D7D;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.todo-savebtn {
    margin-left: 250px;
    bottom: 28px;
    position: absolute;
    font-size: 7px;
    text-align: center;
    line-height: 24px;
    width: 43px;
    height: 24px;
    color: #ffffff;
    background-color: #FDEF6B;
    border-radius: 20px;
}

.todo-savebtn:hover {
    background-color: #FFFDB9;
    color: #9e9e9e;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease, color 0.2s ease;
}


  
  