/* city Page CSS */
.city-page__container {
    position: relative;
    min-height: 1250px;
    padding-bottom: 220px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 100px;
    width: 100%;
}

.city-page__header {
    display: flex;
    /* 수직 정렬 */
    align-items: center;
    /* 좌측 정렬 */
    height: 180px;
    /* 헤더의 높이 설정 */
    margin-top: 20px;
}

.city-page__heading {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: clamp(55px, 4.5vw, 110px);
    letter-spacing: -1pt;
    line-height: 1.2;
    color: #5B5F64;
}

.city-page__description {
    font-family: 'Noto Sans', sans-serif;
    margin: 40px;
    width: 700px;
    font-size: clamp(13px, 1vw, 30px);
    color: #828282;
    line-height: 2.0;
}

.city-page__filter-box {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    padding: 8px;
    border-radius: 10px;
    width: 268px;
}

.city-page__filter-option {
    background-color: #fff;
    font-size: 10pt;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.city-page__filter-option:hover {
    background-color: #ddd;
}

.city-page__tree-background {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url('../../assets/images/city_background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    width: 275px;
    height: 1219px;
    z-index: -1;
}

.city-page__diary-cards {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: flex-start;
}

.city-page__diary-cards .diary-card {
    width: 270px;
    /* 4개의 카드가 한 줄에 배치되도록 */
    box-sizing: border-box;
}


.city-page__pagination {

    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.city-page__pagination button {
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #C6C9CE;
    /* 테두리 색상 */
    color: #333;
    /* 기본 글씨 색상 */
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    margin-bottom: 50px;
}

.city-page__pagination button.active {

    color: #5B5F64;
    /* 선택된 버튼의 글씨 색상 */
    border-color: #5B5F64;
    /* 선택된 버튼의 테두리 색상 */
}

.city-page__pagination button:hover {
    background-color: #ddd;
}

html::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}