/* Reset */
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Wrap */
.wrap {
    min-width: 1100px;
    min-height: 974px;
}

/* City Component */
.wrap .city {
    display: flex;
}

/* Check Section */
.wrap .city__check {
    width: 40px;
    height: 190px;
    background-color: #FFFDB9;
    margin-top: 52px;
    border-radius: 0px 20px 20px 0px;
}

.wrap .city__check-image {
    width: 13px;
    height: 90px;
    display: flex;
    margin: auto;
    margin-top: 50px;
}

/* Diary Section */
.wrap .city__diary {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

/* City Image */
.wrap .city__diary-image {
    height: 60px;
    margin-bottom: 12px;
}

/* Today's City Title */
.wrap .city__diary-title {
    font-size: 32px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700; /* Bold font weight */
    color: #828282;
    margin-bottom: 20px;
}

/* Date Section */
.wrap .city__diary-date {
    width: 566px;
    height: 40px;
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
}

/* Date Arrow */
.wrap .city__diary-date-arrow {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

/* Date Container */
.wrap .city__diary-date-container {
    width: 468px;
    display: flex;
    justify-content: space-between;
}

/* Date Round */
.wrap .city__diary-date-round {
    width: 40px;
    height: 40px;
    background-color: #FFFDB9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #9e9e9e;
}

.wrap .city__diary-date-round--today {
    background-color: #FDEF6B;
    color: #ffffff;
}

/* Title Edit */
.wrap .city__diary-title-edit {
    width: 591px;
    height: 33px;
    color: #C6C9CE;
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
    line-height: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #BBBBBB;
    outline: none;
}

/* Another Section */
.wrap .city__diary-another {
    width: 930px;
    height: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}

/* Reveal Component */
.wrap .city__diary-another-reveal {
    width: 159px;
    height: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin-right: 13px;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

/* Reveal Button */
.wrap .city__diary-another-reveal-btn {
    height: 18px;
    background-color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
    color: #7D7D7D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 2px;
}

.wrap .city__diary-another-reveal-btn--only {
    width: 42px;
}

.wrap .city__diary-another-reveal-btn--subscribe {
    width: 53px;
}

.wrap .city__diary-another-reveal-btn--all {
    width: 43px;
}

.wrap .city__diary-another-reveal-btn--selected {
    background-color: #E8E6E6;
    color: #7D7D7D;
}

/* Submit Button */
.wrap .city__diary-another-submit {
    width: 55px;
    height: 30px;
    background-color: #FDEF6B;
    margin-right: 4px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #ffffff;
}

.wrap .city__diary-another-submit:hover {
    background-color: #FFFDB9;
}

/* Text Editor */
.wrap .city__diary-texts {
    width: 930px;
    height: 492px;
    border-style: solid;
    border-width: 1px;
    border-color: #828282;
    margin-bottom: 50px;
}

.wrap .city__diary-texts p {
    font-size: large;
}

/* Diary Button in Menu */
.menu .button #diary {
    height: 29px;
    border-radius: 22.5px;
    background-color: #ffffff;
    color: #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    box-shadow: 0px 4px 4px #B8B8B8;
}
