/* Reset */
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* forest Component */
.wrap .forest__forestquestion {

}

.forest_back-button {
    width: 148px;
    height: 36px;
    background-color: #E8F3DA;
    margin-top: 9px;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    color: #7E9660;
    margin-left: 267px;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    line-height: 43px;
}

/* Check Section */
.wrap .forest__forestquestion__check {
    width: 415px;
    height: 803px;
    background-color: #E8F3DA;
    padding: 50px 50px 0px 42px; 
    border-radius: 0px 0px 50px 0px;
}

.wrap .forest__forestquestion__check-title {
    display: flex;
    margin-bottom: 52px;
    align-items: center;
}

.wrap .forest__forestquestion__check-title-name {
    font-size: 30px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    color: #7E9660;
    margin-right: 8px;
}

.wrap .forest__forestquestion__check-title-plusbtn {
    width: 25px;
    height: 25px;
    background-color: rgba(248, 245, 245, 0.5);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 20px;
    color: #7E9660;
    margin-left: 5px;
    margin-top: 12px;
}

/* Today's Question Box */
.wrap .forest__forestquestion__check-today-question {
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 16px;
    min-height: 450px;
    position: relative;
}

.question-text {
    font-size: 20px; 
    font-weight: 500; 
    padding-left: 20px; 
    display: inline-block; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

/* Add these styles to forestquestion.css */
.today-question-text {
    font-size: 18px; 
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
  }
  
  .today-answer-text {
    font-size: 14px; 
    margin-left: 5px;
  }
  
/* Square Box for Photo */
.wrap .forest__forestquestion__check-today-photo-box {
    width: 250px;
    height: 250px; 
    background-color: #7E9660;
    position: absolute;
    bottom: 50px;
    right: 5px;
    transform: rotate(10deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden; 
}

.wrap .forest__forestquestion__check-today-photo-box img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrap .forest__forestquestion__check-today-question .today-question-box {
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    color: #000000;
}

.wrap .forest__forestquestion__check-today-question .today-question-box .question {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block; 
}

.wrap .forest__forestquestion__diary {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.wrap .forest__forestquestion__diary-top {
    display: flex;
    width: 588px;
    margin-top: 42px;
    margin-bottom: 20px;    
}

/* forest Image */
.wrap .forest__forestquestion__diary-top-image {
    height: 60px;
    margin-right: 17px;
}

/* Today's forest Title */
.wrap .forest__forestquestion__diary-top-title {
    font-size: 32px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    color: #7E9660;
    padding-top: 12px;
}

/* Date Section */
.wrap .forest__forestquestion__diary-date {
    width: 468px;
    height: 40px;
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
}

/* Date Arrow */
.wrap .forest__forestquestion__diary-date-arrow {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

/* Date Container */
.wrap .forest__forestquestion__diary-date-container {
    width: 468px;
    display: flex;
    justify-content: space-between;
}

/* Date Round */
.wrap .forest__forestquestion__diary-date-round {
    width: 40px;
    height: 40px;
    background-color: #E8F3DA;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #9e9e9e;
}

.wrap .forest__forestquestion__diary-date-container #today:hover,
.wrap .forest__forestquestion__diary-date-container #yesterday:hover {
    background-color: #9FC393;
    color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.wrap .forest__forestquestion__diary-date-round--today {
    background-color: #9FC393;
    color: #ffffff;
}

/* Title Edit */
.wrap .forest__forestquestion__diary-title-edit-input {
    width: 591px;
    height: 33px;
    color: #C6C9CE;
    font-size: 20px;
    text-align: center;
    margin-bottom: 26px;
    line-height: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #BBBBBB;
    outline: none;
}

.wrap .forest__forestquestion__diary-title-edit-input::placeholder {
    color: #C6C9CE;
}

/* Another Section */
.wrap .forest__forestquestion__diary-another {
    width: 90%;
    height: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}

/* Reveal Component */
.wrap .forest__forestquestion__diary-another-reveal {
    width: 159px;
    height: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin-right: 13px;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

/* Reveal Button */
.wrap .forest__forestquestion__diary-another-reveal-btn {
    height: 18px;
    background-color: #FFFFFF;
    font-size: 10px;
    font-weight: 600;
    color: #7D7D7D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 2px;
}

.wrap .forest__forestquestion__diary-another-reveal-btn--only {
    width: 42px;
}

.wrap .forest__forestquestion__diary-another-reveal-btn--subscribe {
    width: 53px;
}

.wrap .forest__forestquestion__diary-another-reveal-btn--all {
    width: 43px;
}

.wrap .forest__forestquestion__diary-another-reveal-btn--selected {
    background-color: #E8E6E6;
    color: #7D7D7D;
}

/* Submit Button */
.wrap .forest__forestquestion__diary-another-submit {
    width: 55px;
    height: 30px;
    background-color: #9FC393;
    margin-right: 4px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #ffffff;
}

.wrap .forest__forestquestion__diary-another-submit:hover {
    background-color: #E8F3DA;
    color: #9e9e9e;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* Text Editor */
.wrap .forest__forestquestion__diary-texts {
    width: 90%;
    height: 519px;
    border-style: solid;
    border-width: 1px;
    border-color: #7E9660;
    margin-bottom: 50px;
}

.wrap .forest__forestquestion__diary-texts p {
    font-size: large;
}

/* Popup */
.forestquestion_popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(81, 81, 81, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start; 
    overflow: auto;
    z-index: 1000;
    padding: 20px 0px;
}

.forestquestion_popup-background {
    background: #E8F3DA;
    border-radius: 42px;
    width: 450px;
    height: 624.1px;
    max-height: 1000px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    position: relative; 
    margin: auto;
    overflow-y: auto; 
}

.forestquestion_popup-content {
    width: 365px;
    margin: auto;
}

.forestquestion_popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    width: 365px;
    color: #7E9660;
    margin: 30px 0px 21px 10px;
}

.forestquestion_popup-close {
    background: transparent;
    border: none;
    font-size: 24px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    color: #828282;
    cursor: pointer;
    margin-right: 14px;
}

/* Answer Input Box */
.forestquestion_popup-question-box {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative; 
}

.forestquestion_popup-question-text {
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 520; 
    color: #000000;
    margin-bottom: 15px;
    padding-left: 10px; 
    text-align: left; 
}


.forestquestion_popup-answer-box {
    width: 100%; 
    height: 200px;
    border: 1px solid #99B477; 
    padding: 10px;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    color: #333;
    resize: none;
    outline: none;
    box-shadow: none; 
    margin: 0 auto; 
}

.forestquestion_popup-photo-input {
    margin-top: 10px;
}

.forestquestion_popup-photo-display {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 10px;
}

/* Save Button within the white box */
.forestquestion_popup-delete-button{
    width: 55px;
    height: 30px;
    background-color: #9FC393;
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
    position: absolute; 
    bottom: 15px; 
    right: 80px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.forestquestion_popup-save-button {
    width: 55px;
    height: 30px;
    background-color: #9FC393;
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
    position: absolute; 
    bottom: 15px; 
    right: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.forestquestion_popup-delete-button:hover,
.forestquestion_popup-save-button:hover {
    background-color: #7E9660;
}