/* 팝업 오버레이 */
.forest-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(81, 81, 81, 0.3); /* 어두운 배경 오버레이 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* 팝업이 가장 위에 있도록 설정 */
    overflow: auto;
}

/* 팝업 컨텐츠 박스 */
.forest-popup__content {
    background-color: white; /* 팝업 박스의 배경색 */
    border-radius: 8px; /* 모서리를 둥글게 */
    padding: 20px;
    max-width: 1100px;
    width: 90%;
    max-height: 80vh;
     overflow-y: scroll; /* 세로 스크롤 가능하게 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    position: relative;
}

.forest-popup__content::-webkit-scrollbar {
    width: 0; /* Chrome, Safari, and Opera */
}

.forest-popup__content {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.forest-popup__title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.forest-popup__mini-tree-image {
    width: 60px; /* 원하는 크기로 조정 */
    height: 60px; /* 원하는 크기로 조정 */
}

.forest-popup__forest {
    margin-top: 5px;
    color: #7E9660;
    font-family: 'Inter', sans-serif;
}

.forest-popup__title-container {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.forest-popup__diary-title {
    display: inline-flex;
    margin: 5px;
    color: #373737;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.forest-popup__title-line {
    width: 100%;
    height: 1px;
    background-color: #99B477;
}

/* 다이어리 내용 테두리 스타일 */
.forest-popup__diary-content {
    border: 1px solid #99B477; /* 99B477 색상 테두리 */
    border-radius: 2px; /* 모서리를 살짝 둥글게 */
    padding: 15px; /* 내부 여백 */
    margin-top: 20px; /* 위쪽 간격 */
    font-family: 'Noto Sans', sans-serif; /* 글꼴 설정 */
    font-size: 16px; /* 글씨 크기 */
    color: #373737; /* 다이어리 글씨 색 */
    height: 50vh; /* 최대 높이 설정, 50% 뷰포트 높이로 설정 */
    overflow-y: auto; /* 세로 스크롤 자동 설정 */
}

.forest-popup__diary-content::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.forest-popup__diary-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.forest-popup__diary-content::-webkit-scrollbar-track {
    background-color: transparent;
}

.forest-popup__diary-content::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}


/* 댓글 입력 섹션 */
.forest-popup__comment-input-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 800px;
}

/* 유저 프로필 이미지 */
.forest-popup__user-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
    object-fit: cover;
}

/* 댓글 입력 필드 */
.forest-popup__comment-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    margin-right: 10px;
    outline: none;
}

.forest-popup__comment-input:focus {
    border: none; /* 포커스 시에도 테두리 제거 */
    border-bottom: 1px solid #ccc; /* 포커스 시에도 아래쪽 밑줄 유지 */
    outline: none; /* 포커스 시 아웃라인 제거 */
    box-shadow: none; /* 포커스 시 그림자 제거 */
}

/* 댓글 제출 버튼 */
.forest-popup__comment-submit-button {
    background-color: #9FC393;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}

/* 댓글 섹션 */
.forest-popup__comments-section {
    margin-top: 20px;
    border: solid 1px #9EA3AB;
    padding: 10px;
    border-radius: 5px;
    min-width: 800px;
}

.forest-popup__comments-section--no-comments {
    padding-bottom: 20px; /* 하단 여백 추가 */
}

.forest-popup__comments-section--no-comments .forest-popup__no-comments-message {
    border-top: none; /* 메시지의 상단 경계선 제거 */
}

/* 댓글 */
.forest-popup__comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd; /* 댓글 사이에 경계선 추가 */
    padding-bottom: 10px; /* 경계선과 내용 간 여백 */
    position: relative;
}

/* 댓글 프로필 이미지 */
.forest-popup__comment-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; /* 프로필 사진과 댓글 내용 사이의 간격 */
}

/* 댓글 내용 섹션 */
.forest-popup__comment-details {
    flex-grow: 1;
}

/* 댓글 닉네임 */
.forest-popup__comment-nickname {
    font-weight: 600; /* Semi-Bold 효과 */
    padding-left: 3px;
    margin: 0;
    font-size: 13px;
}

/* 댓글 내용 */
.forest-popup__comment-content {
    padding: 3px;
    margin-right: 30px;
    font-size: 12px;
    border: 1px solid transparent;
}

.forest-popup__comment-content--editable {
    border: 1px solid #1a66cc; /* 수정 중인 댓글에 테두리 추가 */
    border-radius: 5px;
    background-color: #f0f8ff; /* 수정 중인 댓글에 배경색 추가 */
    outline: none; /* 포커스 시 외부 경계선 제거 */
}

/* 댓글 없음 메시지 */
.forest-popup__no-comments-message {
    text-align: center;
    font-size: 14px;
    color: #999;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

/* 댓글 액션 버튼 섹션 */
.forest-popup__comment-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    position: absolute; /* 버튼을 댓글 오른쪽에 절대 위치시키기 */
    right: 0;
}

/* 댓글 수정 및 삭제 버튼 */
.forest-popup__edit-button,
.forest-popup__delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    color: #7D7D7D; /* 수정 버튼 색상 */
    margin-bottom: 5px;
}

/* 수정 댓글 입력 필드 */
.forest-popup__edit-comment-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.forest-popup__main-content {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start; /* 기본적으로 좌측 정렬 */
    align-items: flex-start;
}

.forest-popup__main-content--centered {
    justify-content: center; /* 가운데 정렬 */
}


.forest-popup__question-section {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 35%;
    margin-left: -20px;
    margin-right: 20px;
    background-color: #E8F3DA;
    padding: 30px;
    border-radius: 0px 20px 20px 0px;
}

.forest-popup__question-content::-webkit-scrollbar {
    width: 0; /* Chrome, Safari, and Opera */
}

.forest-popup__question-content {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.forest-popup__question-title {
    font-size: 2rem;
    color: #7E9660;
    margin-bottom: 20px;
    margin: 10px 0px 30px 0px;
}

.forest-popup__question-content {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 100%;
    position: relative;
    max-height: 43vh; 
    flex-grow: 1;
}

.forest-popup__question-text {
    font-weight: bold;
    color: #343434;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5px;
}

.forest-popup__answer-text {
    padding: 5px 10px 5px 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.forest-popup__check-today-photo-box {
    width: 60%;
    aspect-ratio: 1 / 1;
    background-color: #7E9660;
    transform: rotate(10deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    margin-left: auto;
    align-items: center; 
    overflow: hidden; 
    position: relative;
}

.forest-popup__check-today-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율을 유지하며 박스에 맞춤, 초과 부분은 잘림 */
    position: absolute; /* 박스 안에 이미지를 꽉 채우도록 절대 위치 설정 */
    top: 0;
    left: 0;
}

.forest-popup__diary-section {
    width: 70%;
    min-width: 500px;
    max-width: 930px;
}

.forest-popup__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    margin-top: -10px;
    margin-right: -5px;
    margin-left: -5px;
    min-width: 800px;
}

.forest-popup__header-left {
    display: flex;
    align-items: center;
}

.forest-popup__author-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.forest-popup__author-nickname {
    font-weight: bold;
}

.forest-popup__header-right {
    display: flex;
    align-items: center;
}


.forest-popup__report-button,
.forest-popup__like-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.forest-popup__report-button img,
.forest-popup__like-button img {
    width: 24px;
    height: 24px;
}

