.map-wrap {
    position: relative;
    min-width: 1100px;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../images/map_background.png');
    background-size: cover; /* 이미지가 화면을 꽉 채우도록 설정 */
    background-position: center; /* 이미지의 중심이 화면 중앙에 오도록 설정 */
    background-repeat: no-repeat; /* 이미지를 반복하지 않도록 설정 */
}

.map-image {
    position: absolute;
    top: 5%; /* 원하는 위치로 조정 */
    left: 50%;
    transform: translateX(-50%);
    max-height: 93%;
    background-position: center;
    min-width: 1000px;
    z-index: 1; /* 필요에 따라 레이어 순서를 조정 */
}

.map-line {
    position: absolute;
    top: 35%; /* 원하는 위치로 조정 */
    left: 49.5%;
    transform: translateX(-50%);
    max-height: 45%;
    background-position: center;
    z-index: 1; /* 필요에 따라 레이어 순서를 조정 */
}


.top-image {
    position: absolute;
    width: 20%; /* 각 이미지의 크기를 설정 */
    min-width: 270px;
    height: auto;
    z-index: 2; /* map-image 위에 표시되도록 z-index를 설정 */
}

.sea-image {
    top: 19%; /* map-image 위쪽 */
    left: 37%;
    transform: translateX(-50%);
}

.friend-image {
    top: 20%; /* map-image 위쪽 */
    left: 65%;
    transform: translateX(-50%);
}

/* Bottom images */
.bottom-image {
    position: absolute;
    width: 20%; /* 각 이미지의 크기를 설정 */
    height: auto;
    min-width: 270px;
    z-index: 2; /* map-image 위에 표시되도록 z-index를 설정 */
}

.forest-image {
    top: 58%; /* map-image 아래쪽 */
    left: 32%;
    transform: translateX(-50%);
}

.city-image {
    top: 58%; /* map-image 아래쪽 */
    left: 63%;
    transform: translateX(-50%);
}

.guide-icon {
    position: absolute;
    top: 120px; /* 상단에서 20px 만큼 떨어뜨림 */
    right: 250px; /* 오른쪽에서 20px 만큼 떨어뜨림 */
    width: 25px; /* 적절한 크기로 조절 */
    height: auto;
    cursor: pointer;
    z-index: 999; /* 높은 값으로 설정하여 제일 앞에 오게 함 */
}
