* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.pro_page .profile-menu {
  width: 219px;
  height: 365px;
  background-color: rgb(255, 255, 255);
  margin-top: 1px;
  border-radius: 15px 0px 15px 15px;
  box-shadow: 0px 2px 3px 0px #9f9f9f;
  padding-top: 8px;
}

.pro_page .profile-menu_content {
  width: 195px;
  height: 39px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  line-height: 39px;
  padding-left: 12px;
}

.pro_page .profile-menu_content:hover {
  background-color: #f0f0f0;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.pro_page .profile-menu_content:hover img {
  filter: none;
}

.pro_page .profile-menu_content:hover img {
  filter: invert(36%) sepia(11%) saturate(811%) hue-rotate(178deg) brightness(52%) contrast(91%); /* hover 상태일 때 이미지 색상 */
}

.pro_page .profile-menu_content:hover .profile-menu_content_name {
  color: #545F71; /* hover 상태일 때 이름 색상 */
}

.pro_page .profile-menu_content.active {
  background-color: #9FC393 !important;
}

.pro_page .profile-menu_content.active img {
  filter: none !important;
}

.pro_page .profile-menu_content.active .profile-menu_content_name {
  color: #ffffff; /* active 상태일 때 이름 색상 */
}

.pro_page .profile-menu_content_img {
  width: 35px;
  height: 39px;
  align-items: center;
  display: flex;
}

.pro_page .profile-menu_content img {
  height: 21px;
  filter: invert(36%) sepia(11%) saturate(811%) hue-rotate(178deg) brightness(52%) contrast(91%);
}

.pro_page .profile-menu_content.active {
  background-color: #545F71; /* 선택된 메뉴 아이템의 배경 색상 */
}

.pro_page .profile-menu_content_name {
  color: #545F71;
}

.pro_page-container {
    display: flex;
    width: 100%px;
    margin: 38px 40px 0px 40px;
    border-radius: 15px;
    background-image: linear-gradient(rgb(206, 224, 200), rgb(255, 255, 255) 160px);
    }  
  
  .pro_content-box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .pro_profile-section {
    text-align: center;
    width: 700px;
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
  }
    
  .pro_profile-image-space {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin: 60px auto 20px auto; 
    position: relative; 
    z-index: 2; 
  }
    
  .pro_additional-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: absolute;
    top: calc(35% - 65px); 
    left: calc(50.65% - 65px); 
    z-index: 1; 
  }
    
  .pro_password-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
    
  .pro_password-input {
    margin-top: 60px;
    margin-left: 80px;
    padding: 20px;
    width: 400px; 
    height: 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-weight: normal; 
    outline: none;
    transition: border-color 0.3s ease;
  }
    
  .pro_password-input:focus {
    border-color: #9FC393;
    box-shadow: none; 
  }
    
  .pro_confirm-button {
    padding: 20px 20px;
    margin-top: 60px;
    background-color: #9FC393;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .pro_confirm-button:hover {
    background-color: #85b17a;
  }
  