.pro_page-container {
    display: flex;
    width: 90%;
    height: 80vh; 
    background: linear-gradient(to bottom, #9FC393 3%, white 25%); 
    margin: 0 auto; 
    margin-top: 20px;
    border-radius: 10px; 
  }  
  
  .pro_content-box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pro_profile-section {
    text-align: center;
    width: 700px;
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
  }
    
  .pro_profile-image-space {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin: 60px auto 20px auto; 
    position: relative; 
    z-index: 2; 
  }
    
  .pro_additional-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: absolute;
    top: calc(35% - 65px); 
    left: calc(50.65% - 65px); 
    z-index: 1; 
  }
    
  .pro_password-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
    
  .pro_password-input {
    margin-top: 60px;
    margin-left: 80px;
    padding: 20px;
    width: 400px; 
    height: 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-weight: normal; 
    outline: none;
    transition: border-color 0.3s ease;
  }
    
  .pro_password-input:focus {
    border-color: #9FC393;
    box-shadow: none; 
  }
    
  .pro_confirm-button {
    padding: 20px 20px;
    margin-top: 60px;
    background-color: #9FC393;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .pro_confirm-button:hover {
    background-color: #85b17a;
  }
  